.media-player {
	position: absolute;
	width: 637px;
	height: 207px;
	border-radius: 0.6em;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#53555e+0,272c34+46 */
	background: #53555e; /* Old browsers */
	background: -moz-linear-gradient(top, #53555e 0%, #272c34 46%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #53555e), color-stop(46%, #272c34)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #53555e 0%, #272c34 46%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #53555e 0%, #272c34 46%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #53555e 0%, #272c34 46%); /* IE10+ */
	background: linear-gradient(to bottom, #53555e 0%, #272c34 46%); /* W3C */
}

.media-player .controls {
	position: absolute;
	height: 60px;
	width: 420px;
	margin: auto;
	bottom: 18%;
	left: 32%;
}

.media-player .cover {
	position: absolute;
	width: 163px;
	height: 163px;
	border-radius: 0.6rem;
	top: 4%;
	bottom: 0;
	left: 3%;
	margin: auto;
	background: url(../images/cover.jpg) no-repeat center center;
	background-size: contain;
}

.media-player .controls .playback {
	position: absolute;
	margin: auto;
	width: 54px;
	height: 55px;
	transition: background-position 0.5s ease-in-out;
	-webkit-transition: background-image 0.4s ease-in-out;
	-moz-transition: background-image 0.2s ease-in-out;
	-o-transition: background-image 0.2s ease-in-out;
}

.media-player .controls .playback.play {
	background: url(../images/play.png) no-repeat;
}

.media-player .controls .playback.stop {
	background: url(../images/stop.png) no-repeat;
}

.media-player .controls .volume {
	position: absolute;
	width: 250px;
	height: 17px;
	right: 30px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.media-player .controls .volume .progress {
	position: absolute;
	/* background: url(../images/progress-back.png) repeat-x; */
	width: 87%;
	height: 17px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.media-player .controls .volume .progress .progress-background {
    background: url(../images/progress-back.png) repeat-x;

    position: absolute;
    width: 88%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

.media-player .controls .volume .progress .slider-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 95%;
	margin: auto;
}

.media-player .controls .volume .progress .slider-container .slide {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 70%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fefefe+51,dadada+59 */
	border-radius: 6px;
	width: 100%;
	z-index: 1;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #fefefe 51%, #dadada 59%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(51%, #fefefe), color-stop(59%, #dadada)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #fefefe 51%, #dadada 59%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #fefefe 51%, #dadada 59%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #fefefe 51%, #dadada 59%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #fefefe 51%, #dadada 59%); /* W3C */
	pointer-events: none;
}

.media-player .controls .volume .progress .slider {
	position: absolute;
	background: url(../images/slider.png) no-repeat;
	width: 22px;
	height: 21px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	left: 100%;
	margin-left: -11px;
	cursor: pointer;
}

.media-player .controls .volume .progress > .side {
	position: absolute;
	background: url(../images/progress-side.png) repeat-x;
	width: 9px;
	height: 100%;
}

.media-player .controls .volume .progress > .side.left {
	left: 0;
}

.media-player .controls .volume .progress > .side.right {
	right: 0;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
}

.media-player .controls .volume .mute {
	position: absolute;
	background: url(../images/mute.png) no-repeat;
	width: 9px;
	height: 13px;
	left: 0px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.media-player .controls .volume .max {
	position: absolute;
	background: url(../images/max.png) no-repeat;
	width: 19px;
	height: 21px;
	top: 0;
	bottom: 0;
	margin: auto;
	right: -14px;
}

.media-player .metadata {
	position: absolute;
	width: 67%;
	left: 32%;
	top: 10%;
}

.media-player .metadata .song-title {
	position: absolute;
	color: #fbfbfc;
	width: 100%;
	font-size: 2vw;
	font-weight: bold;
}

.media-player .metadata .album-title {
	position: absolute;
	top: 40px;
	color: #9d9d9d;
	width: 100%;
	font-size: 1.5vw;
	font-weight: bold;
}
